<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>File Upload</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>File Upload</h1>-->
<!--    <form method="POST" enctype="multipart/form-data">-->
<!--        <input type="file" name="file">-->
<!--        <button type="submit">Upload</button>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->




<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Image Combiner</title>-->
<!--</head>-->
<!--<body>-->
<!--    <form action="/" method="post" enctype="multipart/form-data">-->
<!--        Image 1: <input type="file" name="file1"><br>-->
<!--        Image 2: <input type="file" name="file2"><br>-->
<!--        <input type="submit" value="Combine">-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->





